<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> 商务联系：</h3>
        <p class="footer-contact">
          淘宝: <a href="https://m.tb.cn/h.fJP81q7" target="_blank">超神电竞工作室</a><br>
          电话: {{ site.telephone_number }} <br>
          邮件: {{ site.company_email }} <br>
          微信: {{ site.wechat }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> 友情链接</h3>
        <p><a href="https://pvp.qq.com" target="_blank"> 王者荣耀官网</a></p>
        <p><a href="https://www.douyu.com" target="_blank"> 斗鱼直播</a></p>
        <p><a href="https://www.huya.com" target="_blank"> 虎牙直播</a></p>
        <p><a href="https://www.douyin.com" target="_blank"> 抖音</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> 关注我们 </h3>
        <p class="footer-contact">
          微博: 超神电竞工作室<br>
          抖音: <a href="https://www.douyin.com/user/MS4wLjABAAAAYh54Sg8WVi54k2Za1OjAbPlfWGLsj_2lkEcolmQSmmPc_NYkt20ZOSOgvy3YgbvI" target="_blank">CSDJGZS </a><br>
          公众号: 超神电竞工作室 <br>
        </p>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, ChaoShenDianJing</p>
  </div>
</footer>