<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> 商务联系</h3>
        <p class="footer-contact">
          淘宝店铺: <a href="https://csdj666.taobao.com" target="_blank">盘塔秋电竞工作室</a><br>
          客服QQ: {{ site.qq }} <br>
          电子邮件: {{ site.company_email }} <br>
          客服微信: {{ site.wechat }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> 友情链接</h3>
        <p class="footer-contact"><a href="https://pvp.qq.com" target="_blank"> 王者荣耀官网</a></p>
        <p class="footer-contact"><a href="https://www.douyu.com" target="_blank"> 斗鱼直播</a></p>
        <p class="footer-contact"><a href="https://www.huya.com" target="_blank"> 虎牙直播</a></p>
        <p class="footer-contact"><a href="https://www.douyin.com" target="_blank"> 抖音</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> 关注我们 </h3>
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="row">
              <img src="../assets/img/contact/pantaqiu_gzh.jpeg" alt="pantanqiu_gongzhonghao" class="img-center"
                width="100%">
            </div>
            <div class="row">
              <p class="footer-contact" style="text-align: center;">官方公众号</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="row">
              <img src="../assets/img/contact/douyin.jpeg"  alt="pantaqiu_douyin" class="img-center"
                width="100%">
            </div>
            <div class="row">
              <p class="footer-contact"  style="text-align: center;">官方抖音</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, PANTAQIU, All rights reserved by pantaqiu.com</p>
  </div>
</footer>